.c-button {
  background: #1276ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  min-height: 42.4px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  cursor: pointer;
  opacity: 0.9;
  box-sizing: border-box;
  outline: none;
  border: none;
  min-width: 115px;
  &:hover {
    opacity: 1;
  }
  .spinner {
    width: 18px;
    height: 18px;
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
}

.link-button {
  color: #1276ff;
  text-decoration: none;
}
