.c-button {
  background: #1276ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 46px;
  padding: 0 15px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  cursor: pointer;
  opacity: 0.9;
  box-sizing: content-box;
  &:hover {
    opacity: 1;
  }
}

.link-button {
  color: #1276ff;
  text-decoration: none;
}
