.form-row {
  margin-bottom: 24px;
  .label {
    display: block;
    font-size: 14px;
    color: #292a2b;
    margin-bottom: 8px;
  }
  .input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d7d7d7;
    color: #000000;
    font-weight: 500;
    box-sizing: border-box;
    &:focus {
      border-color: #1276ff;
    }
  }
}
