.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
body * {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.c-button {
  background: #1276ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  min-height: 42.4px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  cursor: pointer;
  opacity: 0.9;
  box-sizing: border-box;
  outline: none;
  border: none;
  min-width: 115px;
}
.c-button:hover {
  opacity: 1;
}
.c-button .spinner {
  width: 18px;
  height: 18px;
}
.c-button:disabled {
  cursor: default;
  opacity: 0.7;
}

.link-button {
  color: #1276ff;
  text-decoration: none;
}

.form-wrap .form {
  align-items: center;
}
.form-wrap .form .form-input .input-field {
  width: 100%;
  padding: 25px 10px 20px 20px;
  border-bottom: 2px solid #e4d6d6;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.2), 2px 2px 1px rgba(0, 0, 0, 0.2), 3px 3px 1px #fff, 4px 4px 1px #fff, 5px 5px 1px rgba(0, 0, 0, 0.2), 6px 6px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  box-sizing: border-box;
}
.form-wrap .form .form-input .input-field::placeholder {
  font-weight: bold;
  color: #a9a9a9;
  font-size: 22px;
  font-style: italic;
}
.form-wrap .form .action-buttons {
  padding: 20px 10px;
}
@media only screen and (min-width: 768px) {
  .form-wrap .form .action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.form-wrap .form .action-buttons .actions {
  margin: 10px 0 20px 0;
}
@media only screen and (min-width: 768px) {
  .form-wrap .form .action-buttons .actions {
    margin: 0;
  }
}
.form-wrap .form .action-buttons .actions .c-button {
  width: 100%;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .form-wrap .form .action-buttons .actions .c-button {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.form-wrap .form .action-buttons .filters {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .form-wrap .form .action-buttons .filters {
    margin-top: 0;
  }
}
.form-wrap .form .action-buttons .filters .parameters {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.form-wrap .form .action-buttons .filters .parameters p {
  padding: 2px 10px 3px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #d7d7d7;
  text-transform: lowercase;
  cursor: pointer;
}
.form-wrap .form .action-buttons .filters .parameters p.active {
  border: 1px solid #d7d7d7;
}
.form-wrap .form .action-buttons .filters .count {
  font-size: 14px;
}
.form-wrap .form .action-buttons .filters .count svg {
  width: 25px;
  height: 25px;
}
.form-wrap .form .action-buttons .filters .count span {
  color: #d7d7d7;
}

.c-form {
  width: 100%;
  max-width: 350px;
  margin: 0 15px;
  background: #ffffff;
  padding: 40px 25px;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .c-form {
    padding: 40px;
  }
}
.c-form .c-button {
  width: 100%;
}
.c-form .other-option {
  margin-top: 20px;
  color: #523535;
}
.c-form .other-option .link-button {
  color: #1276ff;
  text-decoration: underline;
}

.spinner-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 9;
  width: 30px;
  height: 30px;
}
.spinner .path {
  stroke: #ffffff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.posts {
  max-height: calc(100vh - 315px);
  overflow-x: hidden;
  overflow-y: auto;
}
.posts .posts-inner .post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7d7;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .posts .posts-inner .post-card {
    padding: 10px 20px 10px 15px;
  }
}
.posts .posts-inner .post-card.completed {
  opacity: 0.7;
}
.posts .posts-inner .post-card.completed .post-title {
  text-decoration: line-through;
}
.posts .posts-inner .post-card .post-data {
  display: flex;
  align-items: flex-start;
}
.posts .posts-inner .post-card .post-data .status-checkbox {
  width: 15px;
  height: 15px;
  margin-top: 1px;
}
.posts .posts-inner .post-card .post-data .post-title {
  max-width: 90%;
  font-size: 13px;
  text-transform: capitalize;
  color: #000000;
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  .posts .posts-inner .post-card .post-data .post-title {
    font-size: 14px;
    max-width: 95%;
  }
}
.posts .posts-inner .post-card .actions {
  display: flex;
}
.posts .posts-inner .post-card .actions .action-icon {
  color: #000000;
  margin-left: 10px;
  transition: 0.5s;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .posts .posts-inner .post-card .actions .action-icon {
    margin-left: 20px;
  }
}
.posts .posts-inner .post-card .actions .action-icon svg {
  width: 20px;
  height: 20px;
}
.posts .posts-inner .post-card .actions .action-icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.empty-state {
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 24px;
}
.form-row .label {
  display: block;
  font-size: 14px;
  color: #292a2b;
  margin-bottom: 8px;
}
.form-row .input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d7d7d7;
  color: #000000;
  font-weight: 500;
  box-sizing: border-box;
}
.form-row .input:focus {
  border-color: #1276ff;
}

.header {
  border-bottom: 1px solid #333333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 25px;
  }
}

.posts-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 10px 20px 10px;
}
@media only screen and (min-width: 768px) {
  .posts-wrapper {
    padding: 50px 10px 20px 10px;
  }
}
.posts-wrapper .main-content {
  width: 100%;
  max-width: 700px;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
