.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
body * {
  margin: 0;
  padding: 0;
}

.c-button {
  background: #1276ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 46px;
  padding: 0 15px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  cursor: pointer;
  opacity: 0.9;
  box-sizing: content-box;
}
.c-button:hover {
  opacity: 1;
}

.link-button {
  color: #1276ff;
  text-decoration: none;
}

.form-wrap .form {
  align-items: center;
}
.form-wrap .form .form-input .input-field {
  width: 95%;
  padding: 25px 10px 20px 20px;
  border-bottom: 2px solid #e4d6d6;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.2), 2px 2px 1px rgba(0, 0, 0, 0.2), 3px 3px 1px #fff, 4px 4px 1px #fff, 5px 5px 1px rgba(0, 0, 0, 0.2), 6px 6px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 3px;
}
.form-wrap .form .form-input .input-field::placeholder {
  font-weight: bold;
  color: #a9a9a9;
  font-size: 22px;
  font-style: italic;
}
.form-wrap .form .action-buttons {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-wrap .form .action-buttons .filters {
  display: flex;
  align-items: center;
}
.form-wrap .form .action-buttons .filters .parameters {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.form-wrap .form .action-buttons .filters .parameters p {
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #d7d7d7;
  text-transform: lowercase;
  cursor: pointer;
}
.form-wrap .form .action-buttons .filters .parameters p.active {
  border: 1px solid #d7d7d7;
}
.form-wrap .form .action-buttons .filters .count {
  font-size: 14px;
}
.form-wrap .form .action-buttons .filters .count svg {
  width: 25px;
  height: 25px;
}
.form-wrap .form .action-buttons .filters .count span {
  color: #d7d7d7;
}

.c-form {
  width: 100%;
  max-width: 350px;
}
.c-form .c-button {
  width: 100%;
  color: #d7d7d7;
  margin-bottom: 5px;
}

.spinner-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 9;
  width: 30px;
  height: 30px;
}
.spinner .path {
  stroke: #ffffff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.posts .posts-inner .post-card {
  display: flex;
  justify-content: space-between;
  background-color: #d7d7d7;
  padding: 10px 20px 10px 15px;
}
.posts .posts-inner .post-card.completed {
  opacity: 0.7;
}
.posts .posts-inner .post-card.completed .post-title {
  text-decoration: line-through;
}
.posts .posts-inner .post-card .post-data {
  display: flex;
  align-items: center;
}
.posts .posts-inner .post-card .post-data .status-checkbox {
  width: 15px;
  height: 15px;
}
.posts .posts-inner .post-card .post-data .post-title {
  font-size: 14px;
  text-transform: capitalize;
  color: #000000;
  margin-left: 10px;
}
.posts .posts-inner .post-card .actions {
  display: flex;
}
.posts .posts-inner .post-card .actions .action-icon {
  color: #000000;
  margin-left: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.posts .posts-inner .post-card .actions .action-icon svg {
  width: 20px;
  height: 20px;
}
.posts .posts-inner .post-card .actions .action-icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.empty-state {
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 24px;
}
.form-row .label {
  display: block;
  font-size: 14px;
  color: #d7d7d7;
  margin-bottom: 8px;
}
.form-row .input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d7d7d7;
  color: #000000;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #333333;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.posts-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 10px 20px 10px;
}
.posts-wrapper .main-content {
  width: 100%;
  max-width: 700px;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

/*# sourceMappingURL=main.css.map */
